*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (max-width: 1100px) {
    nav {
        box-sizing: border-box;
        background-color: lightseagreen;
        color: white;
        text-align: center;
        width: 100%;
        padding: 3%;
    }
    form {
        border-radius: 4px;
        width: 80%;
        margin: 0 auto;
    }
    form h1 {
        margin: 20px auto;
        width: 100%;
        text-align: center;
    }
    form h3 {
        width: 80%;
        margin: 20px auto;
        text-align: center;
    }
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="address"],
    textarea,
    select {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 10px;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        color: #8a97a0;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
    }
}