/*************************/


/*     General Styles    */


/*************************/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    box-sizing: border-box;
    background: url("../img/foggy.jpeg");
    background-size: cover;
    background-position: center; 
    color: white;
    text-align: center;
    width: 100%;
    padding: 10% 0;
}

.hero {
    width: 100%;
    padding: 20px 0;
    border-bottom: 5px double black;
}

.card {
    padding: 20px 0;
}

.card,
.card h1,
.card h2 {
    width: 100%;
    text-align: left;
}

.card select {
    height: 50px;
}


/**********/


/*  Form  */


/**********/

form {
    border-radius: 4px;
    width: 90%;
    margin: 0 auto;
}

form h1,
form h2,
form h3 {
    margin: 10px auto;
    width: 100%;
    text-align: center;
}

label {
    padding: 15px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="address"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: auto;
    margin: 10px 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    -webkit-transition: border ease 200ms;
    -moz-transition: border ease 200ms;
    transition: border ease 200ms;
}

input:focus,
textarea:focus {
    border: 3px solid steelblue;
    transition: border ease 200ms;
}

label[for="zip"] {
    display: block;
    
}

input[id="zip"] {
    width: 50%;
    margin_right: 36%;  
}

input::-webkit-input-placeholder {
    color: lightslategrey;
    text-align: right;
    font-style: italic;
}

input::-moz-placeholder {
    color: lightslategrey;
    text-align: right;
    font-style: italic;
}

input:-ms-input-placeholder {
    color: lightslategrey;
    text-align: right;
    font-style: italic;
}

input:-moz-placeholder {
    color: lightslategrey;
    text-align: right;
    font-style: italic;
}
textarea::-webkit-input-placeholder {
    color: lightslategrey;
    text-align: right;
    font-style: italic;
    padding-right: 10px;
}

textarea::-moz-placeholder {
    color: lightslategrey;
    text-align: right;
    font-style: italic;
    padding-right: 10px;
}

textarea:-ms-input-placeholder {
    color: lightslategrey;
    text-align: right;
    font-style: italic;
    padding-right: 10px;
}

textarea:-moz-placeholder {
    color: lightslategrey;
    text-align: right;
    font-style: italic;
    padding-right: 10px;
}
form #topics {
    display: inline-block;
    margin-top: 20px;
    padding-left: 0;
}
/****************/


/*  Newsletter  */


/****************/

#newsletter {
    border-top: 6px double black;
    padding-top: 30px;
}

#newsletter h1,
#newsletter h2 {
    text-align:  left;
}

#newsletter input {
    margin: 10px 0;
}

#other_topics {
    padding: 0;
    margin: 10px 0;
}

button {
    padding: 19px 39px 18px 39px;
    margin: 10px auto;
    color: #FFF;
    background-color: #2BA7B5;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #2BA7B5;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 40px;
}


/****************/


/*  Mobile  */


/****************/

@media only screen and (min-width: 768px) {
    form {
        width: 66%;
    }
}


/****************/


/*  Tablet  */


/****************/

@media only screen and (min-width: 320px) {
    body {
        font-size: 14px;
    }
    form {
        width: 75%;
    }
}


/****************/


/*  Desktop  */


/****************/

@media only screen and (min-width: 900px) {
    body {
        font-size: 16px;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    form {
        width: 66%;
    }
    .card label span {
        width: 10%;
    }
    .card input,
    .card select {
        float: right;
        width: 86%;
    }
    .card label {
        float: left;
        width: 9%;
        margin: 10px 0;
    }
    #zip {
        width: 50%;
        float: right;
    }
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="address"],
    textarea,
    select {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 5px;
        font-size: 16px;
        height: auto;
        outline: 0;
        padding: 15px;
        background-color: #e8eeef;
        color: #8a97a0;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    }
}